<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="https://lirp.cdn-website.com/2d6e4235/dms3rep/multi/opt/VitosPizza_Logo_Box-366w.png" width="100" height="60" class="d-inline-block align-top" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    
                </li>
               
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item contact">
                    <p> <b>Contact:</b></p>
                       </li>
                <li class="nav-item contact">
                    <p> Email: <b>vito@gmail.com</b></p>
                       </li>
                <li class="nav-item contact">
             <p> Phone: <b>+94771235467</b></p>
                </li>
            </ul>
        </div>
    </div>
</nav>