
<div class="sticky">
<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
       <app-landing-page></app-landing-page>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>My Cart</a>
      <ng-template ngbNavContent>
        <p>cart</p>
      </ng-template>
    </li>
    <li ngbDropdown class="ms-auto">
      <a href (click)="false" class="nav-link" ngbDropdownToggle>My Account</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>My Account</button>
        <button ngbDropdownItem>Orders</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem>LogOut</button>
      </div>
    </li>
    
  </ul>
</div>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>