
    <div class="d-flex justify-content-center">
        <h1>Pizza Menu</h1>
       
    </div>
    <div class="d-flex">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
            <li ngbNavItem [disabled]="true" >
                <a ngbNavLink><p>Catagory</p></a>
                <ng-template ngbNavContent>
                  
                </ng-template>
              </li>
          <li ngbNavItem="1">
            <a ngbNavLink>All</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/d2869389-b77d-4b52-a400-f1df44dd1634.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/d2869389-b77d-4b52-a400-f1df44dd1634.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/d2869389-b77d-4b52-a400-f1df44dd1634.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                  </div>
            </ng-template>
          </li>
          <li></li>
          <li></li>
          <li ngbNavItem="2">
            <a ngbNavLink>CLASSIC</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/08f9652a-6a19-407a-8b5e-938165a87157.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                  </div>
            </ng-template>
          </li>
          <li></li>
          <li></li>
          <li ngbNavItem="3">
            <a ngbNavLink>SIGNATURE</a>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://adminsc.pizzahut.lk//images/mainmenu/3eab3de0-0886-4fe9-a26d-b819d9ba7bd2.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </div>
                  </div>
            </ng-template>
          </li>
        </ul>
        <div class="container">
        <div [ngbNavOutlet]="nav" class="ms-4"></div>
      </div>
      
   
   
  </div>